<h1>Event Details</h1>
<h2>Event Date: <%= @event.event_date%></h2>
<h2>Event Location: <%= @event.location %></h2>
<% if !@event.attendees.include?(current_user) %>
    <%= link_to "Confirm to attend the event", create_attending_event_path(:user_id=>current_user.id, :id=>@event.id), method: :post %>
<% else %>
    <h3>You have registered for the event.</h3>
<% end %>

<%= link_to "Go back to Events Index Page", events_path%>